<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panle</title>
    <link rel="stylesheet" href="/css/admin.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="container"></div>
    <script>
      function panle() {
        let token = JSON.stringify(localStorage.getItem("Token"));
        let parsedToken = JSON.parse(token);
        const container = document.getElementById("container");
        container.innerHTML = `<a class="users" href="/admin/panle/users/${parsedToken}"
        ><p>المستخدمين</p>
        <i class="bx bx-user"></i
      ></a>
      <a class="orders" href="/admin/panle/orders/${parsedToken}"
        ><p>الطلبات</p>
        <i class="bx bxs-package"></i
      ></a>
      <a class="products" href="/admin/panle/products/${parsedToken}"
        ><p>المنتجات</p>
        <i class="bx bxs-baguette"></i
      ></a>
      <a class="categorys" href="/admin/panle/categorys/${parsedToken}"
        ><p>الاقسام</p>
        <i class="bx bxs-category"></i
      ></a>
      <a class="subcategorys" href="/admin/panle/subcategorys/${parsedToken}"
        ><p>الشركات</p>
        <i class="bx bxs-food-menu"></i
      ></a><a class="subcategorys" href="/admin/panle/promocode/${parsedToken}"
        ><p>برومو كود</p>
        <i class="bx bxs-food-menu"></i
      ></a><a class="subcategorys" href="/admin/panle/offer/${parsedToken}"
        ><p>المجله</p>
        <i class="bx bxs-food-menu"></i
      ></a>`;
      }
      panle();
    </script>
  </body>
</html>
