<nav
  style="
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    background: #fff;
  "
>
  <div class="icons">
    <button id="menu" style="background: none; border: none">
      <i class="bx bx-menu" style="font-size: 30px"></i>
    </button>
    <a style="color: #333" href="/search"
      ><i style="font-size: 30px" class="bx bx-search"></i
    ></a>
    <a style="color: #333; position: relative" href="/product/cart"
      ><i style="font-size: 30px" class="bx bxs-cart-alt"></i>
    </a>
  </div>
  <ul
    id="menuBar"
    style="
      position: absolute;
      top: 55px;
      left: 5px;
      transform: translateX(-105%);
      transition: 0.3s;
      background: #333;
      width: 200px;
      border-radius: 5px;
      padding: 5px;
      z-index: 999;
    "
  >
    <li
      style="
        margin: 15px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <a href="/" style="color: #fff; text-decoration: none">Home</a>
    </li>
    <li
      style="
        margin: 15px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <a href="/user/oh" style="color: #fff; text-decoration: none"
        >Order History</a
      >
    </li>
    <li
      style="
        margin: 15px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <a href="/contact_us" style="color: #fff; text-decoration: none"
        >Contact Us</a
      >
    </li>
    <li
      style="
        margin: 15px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <a href="/about" style="color: #fff; text-decoration: none">About</a>
    </li>
    <li
      style="
        margin: 15px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <a href="/user" style="color: #fff; text-decoration: none">Login</a>
    </li>
  </ul>
</nav>

<script>
  const MenuBtn = document.getElementById("menu");
  const MenuBar = document.getElementById("menuBar");

  MenuBtn.addEventListener("click", function () {
    MenuBar.classList.toggle("active");
    if (MenuBar.classList.contains("active")) {
      MenuBar.style.transform = "translateX(5px)";
    } else {
      MenuBar.style.transform = "translateX(-105%)";
    }
  });
</script>
