<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Cart</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body onload="cartItems(),cartLen(), calContainer()">
    <%- include('components/nav') %>
    <div id="container"></div>
    <div id="checkoutContainer">
      <div id="countContainer"></div>
    </div>
    <script>
      let disCount = JSON.parse(localStorage.getItem("disCount"));
      function calContainer() {
        function getTotal() {
          let temp = cart.map(function (item) {
            return parseFloat(item.price * item.quantity);
          });

          let sum = temp.reduce(function (prev, next) {
            return prev + next;
          }, 0);

          return sum * disCount;
        }

        function getItems() {
          let temp = cart
            .map(function (item) {
              return item.name + "  ";
            })
            .join("");

          return temp;
        }
        function ShipingPrice() {
          let shiping = 0;
          return (shiping = getTotal() * 0.1);
        }

        if (cart.length) {
          const countContainer = document.getElementById("countContainer");
          countContainer.innerHTML = `<p>Total: ${getTotal()} EGP</p> 
        <p>Items: ( ${getItems()} )</p>
        <p>Shiping Price: ${ShipingPrice()} EGP</p>`;
        } else {
          const countContainer = document.getElementById("countContainer");
          countContainer.innerHTML = `<p style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: #fff;
      padding: 5px;
      width: 95%;
      display:flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      border-radius: 5px;
      ">the cart is empty <a href='/' style='margin-left: 5px;
  text-decoration: none;
  color: #2660ff;'> go shoping</a></p>`;
        }
      }
      function cartItems() {
        let Container = document.getElementById("container");

        const mappedItems = cart
          .map((item, index) => {
            return `
          <div class="cart" key=${index}>
                <img src='${item.image}'>
                <div class='info'>
                 <a href="/product/${item.id}" ><p>${item.name.substr(
              0,
              25
            )}</p></a>
                  <p>${item.price} ج</p>
                  <p>${item.price * item.quantity} ج</p>
                </div>
                <div class="quantity">
                  <button onclick="incQuantity(${item.id}, ${
              item.quantity + 1
            })" ><i class='bx bx-plus'></i></button>
                  <p>${item.quantity}</p>
                  <button onclick='dicQuantity(${
                    item.id
                  })'><i class='bx bx-minus' ></i></button>
                </div>
                <button></button>
          </div>`;
          })
          .join("");

        Container.innerHTML = mappedItems;
      }

      function incQuantity(productId, quantity) {
        for (let product of cart) {
          if (product.id == productId) {
            if (product.instock == product.quantity) {
              product.quantity != quantity;
            } else {
              product.quantity = quantity;
              cartItems();
              calContainer();
            }
          }
        }
        localStorage.setItem("cart", JSON.stringify(cart));
      }
      function dicQuantity(productId) {
        for (let product of cart) {
          if (product.id == productId) {
            if (product.quantity !== 1) {
              product.quantity -= 1;
              cartItems();
              calContainer();
            }
          }
        }
        localStorage.setItem("cart", JSON.stringify(cart));
      }
    </script>
  </body>
</html>
