<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Cart</title>
    <script src="/js/cart.js" defer></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body onload="cartItems(),cartLen(), calContainer()">
    <%- include('components/nav') %>
    <div id="container"></div>
    <div id="checkoutContainer">
      <div id="countContainer"></div>
    </div>
  </body>
</html>
