<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Cart</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body onload="cartItems(),cartLen()">
    <%- include('components/nav') %>
    <div id="container"></div>
    <div class="checkoutContainer"></div>
    <script>
      function cartItems() {
        let Container = document.getElementById("container");

        const mappedItems = cart
          .map((item, index) => {
            return `
          <div class="cart" key=${index}>
                <img src='${item.image}'>
                <div class='info'>
                 <a href="/product/${item.id}" ><p>${item.name.substr(
              0,
              25
            )}</p></a>
                  <p>${item.price} EGP</p>
                  <p>${item.price * item.quantity} EGP</p>
                </div>
                <div class="quantity">
                  <button onclick="incQuantity(${item.id}, ${
              item.quantity + 1
            })" ><i class='bx bx-plus'></i></button>
                  <p>${item.quantity}</p>
                  <button onclick='dicQuantity(${
                    item.id
                  })'><i class='bx bx-minus' ></i></button>
                </div>
                <button></button>
          </div>`;
          })
          .join("");

        Container.innerHTML = mappedItems;
      }

      function incQuantity(productId, quantity) {
        for (let product of cart) {
          if (product.id == productId) {
            if (product.instock == product.quantity) {
              product.quantity != quantity;
            } else {
              product.quantity = quantity;
              cartItems();
            }
          }
        }
        localStorage.setItem("cart", JSON.stringify(cart));
      }
      function dicQuantity(productId) {
        for (let product of cart) {
          if (product.id == productId) {
            if (product.quantity !== 1) {
              product.quantity -= 1;
              cartItems();
            }
          }
        }
        localStorage.setItem("cart", JSON.stringify(cart));
      }
    </script>
  </body>
</html>
