<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Success</title>
    <link rel="stylesheet" href="/css/order.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body onload="cartLen()">
    <%- include('components/nav') %>

    <div class="Container">
      <div class="Success">
        <div class="icon">
          <i class="bx bx-check"></i>
        </div>
        <div class="body">
          <p>سوف نتصل بك قريبًا</p>
        </div>
      </div>
    </div>
  </body>
</html>
