<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gomla Plus Online</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex h-screen items-center justify-center gap-6">
      <% for(var i = 0; i < category.length; i++) { %>
      <div class="categories">
        <a href="<%=category[i].name%>">
          <img
            class="w-[100px] h-[75px]"
            src="<%=category[i].image%>"
            alt="<%=category[i].name%>"
          />
          <h3 class="flex h-[25px] w-full justify-center">
            <%= category[i].name %>
          </h3>
        </a>
      </div>
      <% } %>
      <a href="/user">login</a>
    </div>
  </body>
</html>
