@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo, Roboto;
}

body {
  background: #eee;
  overflow: hidden;
}

.container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.categories {
  margin: 10px;
  border-radius: 5px;
  background: #fff;
}

.categories img {
  width: 250px;
  height: 120px;
  border-radius: 5px;
}

.categories a {
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
}

.categories h3 {
  width: 100%;
  display: flex;
  font-size: 15px;
  justify-content: center;
}

@media (max-width: 750px) {
  .categories img {
    width: 175px;
    height: 150px;
  }
}
@media (max-width: 600px) {
  .categories img {
    width: 125px;
    height: 100px;
  }
}
@media (max-width: 450px) {
  .categories img {
    width: 100px;
    height: 75px;
  }
}

.CartContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  width: 90%;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.quantity {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.quantity button {
  margin: 0 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50px;
  color: #333;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity p {
  margin: 0 15px;
}

.cart img {
  width: 150px;
  margin-left: 5px;
  padding: 0 15px;
}
