* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.categories {
  margin: 10px;
  border-radius: 5px;
  background: #fff;
}

.categories img {
  width: 100px;
  height: 75px;
  border-radius: 5px;
}

.categories a {
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
}

.categories h3 {
  width: 100%;
  display: flex;
  font-size: 15px;
  justify-content: center;
}
