@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo, Roboto;
}

body {
  background: #eee;
  overflow-x: hidden;
  direction: rtl;
}
textarea:focus,
input:focus {
  outline: none;
}
.container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.Product {
  margin: 10px;
  border-radius: 5px;
  background: #fff;
  width: 260px;
  position: relative;
}

.Product img {
  width: 260px;
  height: 300px;
  border-radius: 5px;
}

.Product a {
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
}

.Product .price {
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 5px;
  padding: 0 10px;
  font-weight: 700;
  background: #fff;
}

.Product .name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
