<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <a href="/" class="Back"><i class="bx bx-left-arrow-alt"></i></a>
    <div class="container">
      <form dir="rtl" id="myForm">
        <img src="/img/logo.png" />
        <div class="input">
          <label>بريد إلكتروني:</label>
          <input type="email" required name="email" />
        </div>
        <div class="input">
          <label>كلمة المرور:</label>
          <input type="password" required name="password" />
        </div>
        <div class="input">
          <button>تسجيل الدخول</button>
        </div>
        <p id="err"></p>
        <p>
          لا تملك حسابا حتى الآن ؟
          <a href="/user/info/register">قم بالتسجيل </a>
        </p>
      </form>
    </div>
    <script>
      const message = document.getElementById("err");
      const myForm = document.getElementById("myForm");

      myForm.addEventListener("submit", function (e) {
        e.preventDefault();

        const formData = new FormData(this);
        const searchParams = new URLSearchParams();

        for (const pair of formData) {
          searchParams.append(pair[0], pair[1]);
        }

        fetch("https://different-tunic-bull.cyclic.app/login", {
          method: "post",
          body: searchParams,
        })
          .then((res) => res.json())
          .then((res) => {
            if (res.success == 0) {
              message.style.color = "#fff";
              message.style.background = "red";
              message.style.fontSize = "12px";
              message.style.padding = " 0 2.5px";
              message.style.borderRadius = "50px";
              message.innerHTML = res.message;
            } else {
              location.replace("/");
            }
          })
          .catch(function (error) {
            console.error(error);
          });
      });
    </script>
  </body>
</html>
