@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo, Roboto;
}

body {
  background: #eee;
  overflow-x: hidden;
  direction: rtl;
}
textarea:focus,
input:focus {
  outline: none;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

#myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 300px;
  position: relative;
}

#myForm input {
  width: 100%;
  border-radius: 5px;
  border: none;
  background: #fff;
  height: 35px;
  padding: 0 5px;
}

#myForm button {
  position: absolute;
  width: 40px;
  height: 35px;
  background: red;
  border-radius: 5px 0 0 5px;
  left: 0;
  bottom: 0;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userRec {
  margin: 10px 0;
  background: #fff;
  padding: 0 3px;
  border-radius: 5px;
}

.delete {
  background: none;
  border: none;
  font-size: 30px;
  color: red;
  cursor: pointer;
}

#adduser {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

#adduser .input {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

#adduser .input input {
  height: 35px;
  border-radius: 5px;
  padding: 0 2.5px;
  border: none;
  background: #eee;
}

#adduser .input button {
  height: 35px;
  border-radius: 5px;
  padding: 0 2.5px;
  border: none;
  font-family: Roboto, Cairo;
  cursor: pointer;
}

.manger {
  display: flex;
  align-items: center;
}

.manger form {
  margin: 0 10px;
}

.manger form button {
  padding: 0 5px;
  font-size: 15px;
  background: red;
  color: #fff;
  border: none;
  cursor: pointer;
}

.manger form select {
  padding: 0 5px;
  font-size: 15px;
  background: red;
  color: #fff;
  border: none;
}
