<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Products</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin/product.css" />
  </head>
  <body>
    <div id="container">
      <div class="searchForProduct">
        <form id="myForm">
          البحث عن المنتجات
          <input type="search" name="searchProducts" />
          <button type="submit" onclick="search()">
            <i class="bx bx-search"></i>
          </button>
        </form>
        <div id="result"></div>
      </div>
    </div>
    <script src="/js/admin/products.js"></script>
  </body>
</html>
